<?xml version="1.0" encoding="utf-8"?>
<general>
	<name>blabliblablu</name>
	<scriptVersion>1.0</scriptVersion>
	<mediaFolder>media</mediaFolder>
	<mode>gpio</mode>
	<ip>192.168.35.66</ip>
	<netmask>255.255.255.0</netmask>
	<!-- Unfortunately the gateway must be defined to make the network diagnostics happy. -->
	<!-- Chose any reachable ip if you don't have a gateway. -->
 	<gateway>192.168.35.66</gateway> 
	<dhcp>false</dhcp>
	<!-- We made the ssh password visible as we use the devices in closed networks only. -->
	<!-- Like that you can always find out the password by reading the SD. -->
	<ssh_password>pro5i</ssh_password>
	<!-- Volume in percents. 100 is default. -->
	<volume>100</volume>
	<!-- If <initialize> is set to true, the registry will be cleared and all settings will be set as configured in the xmls. -->
	<initialize>true</initialize>
	<tcp_port>9753</tcp_port>
	<debug>true</debug>
</general>
